body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* padding-bottom: 70px; */
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    /* margin-bottom: 30px; */
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

.subtext {
  text-align: center;
}

.about-us {
  max-width: 90%;
  padding-top: 5rem;
  align-items: center;
  /* text-align: center; */
  margin: 0 auto;
}

.card-deck {
  margin: 0 auto;
  padding-top: 70px;
  max-width: 75%;
}

.fixed-bottom {
  padding-bottom: 1rem;
}

.footer {
  padding-top: 70px;
}

/* jumbotron */
.jumbotron {
  height: 35rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
}

.background-sf {
  background-image: url("../images/SF.jpg");
}

.background-ocean {
  background-image: url("../images/ocean.jpg");
}

.background-tokyo {
  background-image: url("../images/Tokyo-min.jpg");
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}

.featured-gallery {
  max-width: 90%;
  padding-top: 5rem;
  align-items: center;
  /* text-align: center; */
  margin: 0 auto;
}
